@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-serif: "IBM Plex Serif", serif;
}

#logo-mask {
  --size: 0px;

  background: radial-gradient(
    circle var(--size) at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 8%,
    rgba(0, 0, 0, 1) 100%
  );
}

body {
  background-color: #000000;
  background-image: url('/buried.png');
  background-size: auto;
  background-position: top left;
  background-repeat: repeat;
}

.main-font {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-font {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#fff,#145cf8);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 130% auto;
    font-weight: 400;
    font-family: "IBM Plex Serif", serif;
    font-style: italic;
}
